# `prevent_overlapping_partition` flag is turned off to prevent the following
# issue,
# [warning] 'global' at node :"node1@host1" requested disconnect from node :"node2@host2" in order to prevent overlapping partitions pid=<0.55.0>
# The above occur because BEAM is trying to work in a clustered mode but for
# control node we start network topology i.e. we don't expect release nodes to
# be connected to one another
export ERL_AFLAGS="-start_epmd false -epmd_module Elixir.ControlNode.Epmd -kernel prevent_overlapping_partitions false"
